.rts-header nav{
  padding-left: 90px;
}
.rts-wraper {
  margin: 0px auto;
  width: 1200px;
}
.rts-wraper-title{
  margin: 380px auto 0px;
  width: 1200px;
  padding-left: 225px;
}
.rts-wraper-title ul *{
  display: inline;
  margin:0px 8px;
}
.book-list-title {
  font-size: 21px;
}
.book-list a {
  color: #444;
  font-size: 15px;
}
.left-side-bar {
  padding-left: 20px;
  padding-right: 0px;
  border-right: solid 1px #DDD;
}
.rts-carousel {
  max-width: 1500px;
  width: 100%;
}
.book-img {
  float: left;
  margin-right: 15px;
}
.book-img, .book2-img{
  width: 80px;
  height: 120px;
}
.book-author {
  display: block;
}
.book-name {
  cursor: pointer;
  padding: 2px 0px;
}
.books-show {
  padding-top: 20px;
  position: relative;
}
.show-more{
  position: absolute;
  bottom: -15px;
  left: 50%;
  padding: 5px 8px;
  border: solid 1px #DDD;
  border-radius: 3px;
}
.books-box {
  padding: 20px 30px;
}
.book-model, .book2-model {
  display: none;
}
.book-title {
  font-size: 15px;
  padding-bottom: 10px;
  border-bottom: solid 1px #DDD;
  font-weight: bold;
}
#book2-model{
  height: 256px;
}
