.rts-header-img{
  background:url(/images/book1.jpg) 0% 30% no-repeat;
  height: 400px;
}
.rts-header nav{
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgba(0,0,0,0.4);
  width: 100%;
}
.search-nav{
  width: 50%;
  position: absolute;
  top: 200px;
  left: 25%;
}
.header-search.form-control {
  width: 100%;
  border-radius: 0px;
  font-size: 12px;
  background-color: #EEE;
}
.header-search.form-control:focus{
  border-color: #eb7350;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #eb7350;
}
.header-search-icon.glyphicon {
  font-size: 17px;
  position: absolute;
  right: 9px;
  top: 9px;
}
.header-search-icon.glyphicon:hover {
  cursor: pointer;
  color: #eb7350;
}
.rts-nav{
  width: 800px;
  margin: 0px auto;
  text-align: center;
}

.rts-nav li {
  position: relative;
  line-height: 58px;
  padding:0px 50px;
  display: inline-block;
}
li.search-nav {
  padding-left: 20px;
  top: 7px;
}
.rts-nav a, .rts-nav a:link {
  color: #FFF;
  font-size: 14px;
}
.rts-icon {
  width: 30px;
  border-radius: 100%;
}
.rts-background {
  position: fixed;
  background: url(/images/1.jpg) no-repeat center 0;
  background-size: cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.rts-header {
  position: relative;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #FFF;
  box-shadow: 0 0 1px 0px rgba(0,0,0,0.3),0 0 6px 2px rgba(0,0,0,0.15);
  height: 48px;
  text-align: center;
  z-index: 1000;
}