<div class="rts-header">
  <div class="rts-header-img"></div>
  <div class="search-nav">
    <input type="text" class="form-control header-search" placeholder="大家正在搜：女生的脸不能乱吹" />
    <i class="glyphicon glyphicon-search header-search-icon"></i>
  </div>
  <nav>
    <ul class="rts-nav clearfix">
      <li>
        <a href="/book_center">
          <i class="glyphicon glyphicon-heart-empty"></i>
          平台书库
        </a>
      </li>
      <li>
        <a href="/">
          <i class="glyphicon glyphicon-cloud"></i>
          书友圈
        </a>
      </li>
      <li>
        <a href="/info">
          <i class="glyphicon glyphicon-user"></i>
          <%= name %>
        </a>
      </li>
      <li>
        <a href="/login/signOut">
          <i class="glyphicon glyphicon-log-out"></i>
          退出
        </a>
      </li>
    </ul>
  </nav>
</div>
