<!DOCTYPE html>
<html>
  <head>
    <title>阅读分享平台</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/commons/initial.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plugins/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/book_details.css" />
  </head>
  <body>
    <div class="rts-header">
      <nav>
        <ul class="rts-nav clearfix">
          <li>
            <a href="/">
              <img src="/images/logo.png" />
            </a>
          </li>
          <li class="search-nav">
            <input type="text" class="form-control header-search" placeholder="请试试搜搜：书名或作者吧" />
            <i class="glyphicon glyphicon-search header-search-icon"></i>
          </li>
          <li>
            <a href="/book_center" class="main-page">
              首页
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="detials-body">
      <div class="row detials-body-left">
        <div class="col-md-4">
          <img />
        </div>
        <div class="col-md-8 detials-body-right">
          <h3 class="book-title"></h3>
          <p>作者:<label class="book-author"></label></p>
          <p><label class="share-num"></label>条分享</p>
          <p>出版社: <label class="publishing"></label></p>
          <p>出版时间:<label class="publishing-time"></label></p>
          <p>外文书名: <label class="foregin-name"></label></p>
          <p>书籍类型: <label class="book-type"></label></p>
          <p>页数: <label class="page-num"></label></p>
          <p>语种： <label class="book-language"></label></p>
        </div>
        <button type="button" class="btn btn-info" id="share-book">分享此书</button>
      </div>
    </div>
    <div class="detials-end">
      <div class="detials-end1">
        <div class="end1-title">
            <span>作者简介</span>
        </div>
        <div class="end1-content">
          <p class="author-profile"></p>
        </div>
      </div>
      <div class="detials-end1">
        <div class="end1-title">
            <span>目录</span>
        </div>
        <div class="end1-content">
          <p class="catalogue"></p>
        </div>
      </div>
      <div class="detials-end1">
        <div class="end1-title">
            <span>序言</span>
        </div>
        <div class="end1-content">
          <p class="introduction"></p>
        </div>
      </div>
      <div class="detials-end1">
        <div class="end1-title">
            <span>文摘</span>
        </div>
        <div class="end1-content">
          <p class="abstract"></p>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/webpack_bundle/common.bundle.js"></script>
    <script type="text/javascript" src="/javascripts/pages/info/details.js"></script>
    <script type="text/javascript" src="/javascripts/commons/search.js"></script>
  </body>
</html>
