<!DOCTYPE html>
<html>
  <head>
    <title>阅读分享平台</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/commons/header.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/commons/initial.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plugins/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/book_center.css" />
  </head>
  <body>
    <% include book_header.html %>
    <div class="rts-wraper-title">
      <ul class="book-list">
        <li><a href="javascript:;">小说</a></li>
        <li><a href="javascript:;">文学</a></li>
        <li><a href="javascript:;">法律</a></li>
        <li><a href="javascript:;">艺术与摄影</a></li>
        <h3>书籍分类</h3>
        <li><a href="javascript:;">传记</a></li>
        <li><a href="javascript:;">历史</a></li>
        <li><a href="javascript:;">考试</a></li>
        <li><a href="javascript:;">励志与成功</a></li>
      </ul>
    </div>
    <div class="rts-wraper row">
        <div class="row books-show">
          <h3 class="book-title">全部书籍</h3>
        </div>
        <div class="row books-search-more">
          <h3 class="book-title">热搜推荐</h3>
        </div>
        <div class="row books-hot">
          <h3 class="book-title">人气推荐</h3>
        </div>
        <div class="col-md-4 books-box book-model">
          <a class="book-img-a"><img class="book-img" /></a>
          <div>
            <a class="book-name"></a>
            <span class="book-author"></span>
          </div>
        </div>
        <div class="col-md-2 books-box book2-model" id="book2-model">
          <a class="book-img-a"><img class="book2-img"/></a>
          <div>
            <a class="book-name"></a>
            <span class="book-author"></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="/webpack_bundle/common.bundle.js"></script>
    <script type="text/javascript" src="/javascripts/pages/book/book.js"></script>
    <script type="text/javascript" src="/javascripts/commons/search.js"></script>
  </body>
</html>
