<!DOCTYPE html>
<html>
  <head>
    <title>阅读分享平台</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/commons/initial.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/plugins/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/pages/book_details.css" />
  </head>
  <body>
    <div class="rts-header">
      <nav>
        <ul class="rts-nav clearfix">
          <li>
            <a href="/">
              <img src="/images/logo.png" />
            </a>
          </li>
          <li class="search-nav">
            <input type="text" class="form-control header-search" placeholder="大家正在搜：女生的脸不能乱吹" />
            <i class="glyphicon glyphicon-search header-search-icon"></i>
          </li>
          <li>
            <a href="/book_center" class="main-page">
              首页
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="detials-body">
      <div class="row detials-body-left">
        <div class="col-md-4">
          <img src='/images/book1.jpg'/>
          <a>分享此书</a>
        </div>
        <div class="col-md-8 detials-body-right">
          <h3>妈妈,我真的很生气:学会控制愤怒的情绪</h3>
          <p>（美国）吉娜•迪塔—多纳休(Gina Ditta-Donahue) 绘者：（美国）安妮•凯瑟琳•布莱克(Anne Catharine Blake) </p>
          <p>5条分享</p>
          <p>《儿童情绪管理与性格培养绘本（第11辑）•妈妈,我真的很生气:学会控制愤怒的情绪》由美国心理学会（APA)儿童心理学专家撰写，针对儿童自控力差，乱发脾气、打人等不好的行为，父母如何引导孩子学会表达情绪、控制愤怒的情绪。在《儿童情绪管理与性格培养绘本（第11辑）•妈妈,我真的很生气:学会控制愤怒的情绪》里，乔希生气时，他会扔玩具、破坏玩具，甚至打他的小弟弟。妈妈说，乔希应该学会用更好的方式来表达他愤怒的情绪。通过一张笑脸图，乔希开始用语言表达他的情绪，与他人相处融洽，他的脸上也出现了更多的笑容。《儿童情绪管理与性格培养绘本•妈妈,我真的很生气:学会控制愤怒的情绪》为父母提供了一个简单有效的方法，帮助他们的孩子学会表达愤怒、受挫和其他难以处理的情绪，探讨了通过奖励计划调整孩子愤怒情绪和行为的方法。</p>
        </div>
      </div>
    </div>
    <div class="detials-end">
      <div class="detials-end1">
        <div class="end1-title">
            <span>作者简介</span>
        </div>
        <div class="end1-content">
          <p>  作者：（美国）吉娜•迪塔—多纳休(Gina Ditta-Donahue) 绘者：（美国）安妮•凯瑟琳•布莱克(Anne Catharine Blake) 译者：赵丹<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;吉娜•迪塔—多纳休（Gina Ditta-Donahue）是一名精神科注册护士。《妈妈，我真的很生气》是她写的第一本童书，其灵感来自她的患者和她的孩子。她与丈夫、两个儿子住在美国南加利福尼亚州。
  安妮•凯瑟琳•布莱克（Anne Catharine Blake）是一名作家，同时也是平面设计师、漫画家和插画家，曾为多本童书创作插画。她在加拿大和美国南部长大，目前居住在美国俄勒冈州波特兰市。</p>
        </div>
      </div>
      <div class="detials-end1">
        <div class="end1-title">
            <span>目录</span>
        </div>
        <div class="end1-content">
          <p> 《儿童情绪管理与性格培养绘本 妈妈,我真的很生气 学会控制愤怒的情绪》无目录</p>
        </div>
      </div>
      <div class="detials-end1">
        <div class="end1-title">
            <span>序言</span>
        </div>
        <div class="end1-content">
          <p>  在我们的传统思想中，往往认为小孩子什么都不懂。但回忆自己的成长经历时，却发现我们其实有着很多不为大人所知的烦恼，也曾经渴望得到更多的支持。也许我们在无助中度过了很多岁月，但我们的孩子不应该如此。也许我们是稀里糊涂地长大的，也还长得不错，但我们的孩子应该更加享受成长的过程。我们的父母在他们所知所能的范围内已经尽了他们的努力，今天，轮到我们的时候，我们也需要去努力。
曾经的小孩子成为父母，尤其是成为从事出版工作的父母之后，首先想做的就是奉献出一套帮助孩子成长的书：让孩子更勇敢地面对恐惧、焦虑、害羞等成长中的困惑，让孩子更顺利地走过上幼儿园、上学、交友等所有人生中的第一次。
我们也了解任何一个不经意的细节可能给孩子的威胁，所以，我们磨去了书的尖角，采用亚光的封面……
但愿我们的孩子长大之后，回忆自己的童年，曾经的烦恼可以成为笑谈，因为身边有父母、有书相伴。</p>
        </div>
      </div>
      <div class="detials-end1">
        <div class="end1-title">
            <span>文摘</span>
        </div>
        <div class="end1-content">
          <p>  我们成人都知道，愤怒是最激烈的情绪之一。当我们遇到挫折、失败，或者受到轻视时，愤怒是最常见的反应。在我们成人的过程中，我们多多少少成功地学会了如何表达我们的愤怒。尽管我们很少使用身体语言来表达，但仍然能感觉到愤怒就像洪水一样迅速地将我们淹没，让我们感到难受，偶尔也会让我们做出不该做的事，说出不该说的话，令我们追悔莫及。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;控制愤怒的情绪是一项需要学习的技能，父母在教孩子如何控制情绪的过程中起到关键性的作用。这项重要的工作非常具有挑战性，因为面对孩子发脾气时，父母自身就会经常变得苦恼、尴尬或愤怒。
如果父母以惩罚或责骂来应对孩子发脾气，他们可能暂时压住了孩子愤怒的情绪。然而，孩子并没有学会用积极的方法处理他们的情绪。他们可能感到的只有羞耻，或者对父母严厉而没有同情心的行为而感到气愤。那些只用消极方式的父母可能最终会成功地制服发脾气的孩子，但是代价却是孩子并没有学会用正确的方式来表达他们的情感。此外，他们也没有学会采取有效的方式疏导自己的情绪，坚持自己的观点，表达自己的需求。从积极的方面看，愤怒的情绪能够促进孩子克服困难并实现重要的人生目标。<br />妈妈，我真的很生气》这本书向我们介绍了一种奖励计划和孩子情绪爆发时采取的惩罚机制并用的方法，以此来鼓励孩子学会平衡他们愤怒的情绪。奖励计划包括正面的鼓励和适度的惩罚。针对孩子可能伤害他人的行为，这些方法十分有效。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当你和孩子共同阅读本书时，你可以通过以下方式提高上述方法的有效性。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;读到乔希扔玩具或打弟弟时，对他受挫的情绪表示理解。“哇喔！乔希玩得多开心啊！玩得正开心时玩具坏了，这可真让人难受！”理解孩子的情绪并给予他们情感上的支持，这样他们才能集中精力控制自己的行为。
读到乔希的玩具被没收或乔希坐反省椅时，对他的不满情绪表示同情。“正玩得高兴时要停下来，这可真让人难受！不过停下来反省确实能够帮助小朋友冷静下来，这样才能继续好好玩。”这样说可以帮助孩子理解我们设定限制的好处。
让孩子帮乔希出主意，好让他在生气时不再扔玩具。“乔希怎么才能记得生气时不扔东西呢？也许他要发脾气时，妈妈可以给他一个暗示。或者他可以让他最喜欢的玩具熊坐在旁边，提醒他要努力赢得奖励。”
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果你的孩子生气时总是把火撒向他的兄弟姐妹，你可以用乔希和他的弟弟西蒙为例，和你的孩子讨论嫉妒和争宠的问题。此外，你要检查一下自身的行为，确保在照顾小宝宝的同时没有忽视对哥哥姐姐的关心。“我花很多时间照顾你的弟弟，你一定很难受吧！”这样说能帮助大孩子感到父母理解他们的处境，并能够帮助他们处理自己的情绪。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制订和执行奖励计划时，要记住以下几点。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以积极的方式向孩子介绍这一计划。你可以首先肯定他在其他方面的表现（比如学会了骑自行车），表示你对他很有信心，你相信他已经长大，生气时可以用语言来表达。
根据孩子的年龄和秉性制订他们在一段时间内可以达到的目标。通常，父母最了解他们的孩子，他们知道自己的孩子为了获得奖励能够忍耐的时间是1小时、1天还是1周。显然，如果我们频繁地为孩子制订奖励计划，那么它必须保持适度。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;新玩具固然比较适合作为送给孩子的奖励，但也可以尝试非物质的奖励。比如特别安排的活动或者和父母一起度过特别的时光，这些对孩子而言都非常具有吸引力。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;给孩子提供支持和提醒，帮助他们达成目标。本书中，乔希正要对弟弟动手时，妈妈的一句“比萨”提醒了乔希。这样的提醒既能让孩子明白你在帮他获得奖励，又对孩子的学习过程有所帮助。
如果孩子获得奖励有困难，你可以在他获得较小的进步时给予他奖励。比如孩子只是皱眉生气，并没有立刻对他的朋友动手，这时你可以给他画一个笑脸，表扬他的自控行为。通过画笑脸的方式，正确引导孩子的行为，增强他的自信心，只要他努力，他就能做到。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;如果必须对孩子实施惩罚，避免对孩子的不当行为表示愤怒。“糟糕！你犯错了！恐怕你得坐5分钟反省椅了。”我们惩罚孩子时抱以同情的态度，可以鼓励孩子反省自己的行为，而不是把愤怒的情绪集中在你身上。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;当家里的一个孩子执行奖励计划时，他的兄弟姐妹会做何反应呢？本书中，乔希的弟弟西蒙看到哥哥得了笑脸，他可能也想要，但是他还不能理解笑脸和更大的奖励之间的联系。乔希的妈妈可以告诉乔希，她也会给弟弟笑脸，好让他觉得没有被忽视，但弟弟不能挑选自己想要的特别奖励。
只有家里所有成人知晓并支持这个奖励计划，它才会有更好的效果。
<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;制订和执行奖励计划需要花费时间和精力，你需要等到有足够的精力和时间才能完成这项计划。最终，你和孩子都会有所收获。你们共同合作，才能实现一项重要的目标。对于孩子而言，无形的奖励还包括同伴更多的接受和父母更少的消极关注，这些都有助于计划的成功。作为父母，能够以建设性和创造性的方式解决孩子的问题总是件令人非常高兴的事情。

</p>
        </div>
      </div>
    </div>
  </body>
</html>
