<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="Read to share" name="description"/>
  <meta content="richole" name="author"/>
  <title>阅读分享平台</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/commons/initial.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/plugins/bootstrap.css" />
</head>
<body>
  <div class="rts-background"></div>
  <div class="rts-header"></div>
  <div class="rts-body">
    <div class="content">
      <div>
        <div class="left-side-content">
          <div class="content-box" data-type="message">
            <div class="wb-header">
              <img src="http://tp2.sinaimg.cn/5187664653/50/40058043651/1" class="wb-author-head-img" />
              <span>
                <p class="author-name">
                  <a href="javascript:;">邓超</a>
                </p>
                <p class="wb-time-and-info">
                  3月3日 20:15 来自 iPhone 6s
                </p>
              </span>
            </div>
            <div class="wb-body">
              <div>
                <p class="wb-message">
                  【 著名表演艺术家#葛存壮去世# 送别！】记者从葛存壮家人处获悉,今日8点33分著名表演艺术家葛存壮因脑梗引发心脏衰竭去逝，享年87岁。1949年，20岁的葛存壮开始演员生涯。他因在《红旗谱》中饰演冯兰池被人熟识；因出演《周恩来伟大的朋友》获中国电影金鸡奖最佳男配角奖。转发送别！(央视记者杨晓宁)
                </p>
              </div>
            </div>
            <div class="wb-footer">
              <ul class="wb-footer-bar clearfix">
                <li>
                  <a href="javascript:;">
                    收藏
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    转发 90610
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    评论 35451
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    383644
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-box" data-type="images">
            <div class="wb-header">
              <img src="http://tp2.sinaimg.cn/5187664653/50/40058043651/1" class="wb-author-head-img" />
              <span>
                <p class="author-name">
                  <a href="javascript:;">邓超</a>
                </p>
                <p class="wb-time-and-info">
                  3月3日 20:15 来自 iPhone 6s
                </p>
              </span>
            </div>
            <div class="wb-body">
              <div>
                <p class="wb-message">
                  【 著名表演艺术家#葛存壮去世# 送别！】记者从葛存壮家人处获悉,今日8点33分著名表演艺术家葛存壮因脑梗引发心脏衰竭去逝，享年87岁。1949年，20岁的葛存壮开始演员生涯。他因在《红旗谱》中饰演冯兰池被人熟识；因出演《周恩来伟大的朋友》获中国电影金鸡奖最佳男配角奖。转发送别！(央视记者杨晓宁)
                </p>
              </div>
              <div class="wb-images row">
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
                <img src="http://ww2.sinaimg.cn/thumb180/9e5389bbjw1f1kn6m53dbj209q0ci0t9.jpg" class="col-sm-4 col-md-4 col-lg-4" />
              </div>
            </div>
            <div class="wb-footer">
              <ul class="wb-footer-bar clearfix">
                <li>
                  <a href="javascript:;">
                    收藏
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    转发 90610
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    评论 35451
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    383644
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="content-box" data-type="vedio">
            <div class="wb-header">
              <img src="http://tp2.sinaimg.cn/5187664653/50/40058043651/1" class="wb-author-head-img" />
              <span>
                <p class="author-name">
                  <a href="javascript:;">邓超</a>
                </p>
                <p class="wb-time-and-info">
                  3月3日 20:15 来自 iPhone 6s
                </p>
              </span>
            </div>
            <div class="wb-body">
              <div>
                <p class="wb-message">
                  【 著名表演艺术家#葛存壮去世# 送别！】记者从葛存壮家人处获悉,今日8点33分著名表演艺术家葛存壮因脑梗引发心脏衰竭去逝，享年87岁。1949年，20岁的葛存壮开始演员生涯。他因在《红旗谱》中饰演冯兰池被人熟识；因出演《周恩来伟大的朋友》获中国电影金鸡奖最佳男配角奖。转发送别！(央视记者杨晓宁)
                </p>
              </div>
              <div class="wb-video">
                <video src="/videos/test.mp4" controls="controls">
                  your browser does not support.
                </video>
              </div>
            </div>
            <div class="wb-footer">
              <ul class="wb-footer-bar clearfix">
                <li>
                  <a href="javascript:;">
                    收藏
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    转发 90610
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    评论 35451
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    383644
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="right-side-content">
          <div class="content-box">
            <div class="hot-topic-header">
              <h3 class="topic">热门话题</h3>
              <a href="javascript:;" class="change-topic">
                <i class="glyphicon glyphicon-repeat"></i>
                换一换
              </a>
            </div>
            <ul class="topic-list">
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/webpack_bundle/common.bundle.js"></script>
  <script type="text/javascript" src="/webpack_bundle/index.bundle.js"></script>
</body>
</html>