<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <meta content="Read to share" name="description"/>
  <meta content="richole" name="author"/>
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  <title>阅读分享平台</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/pages/index.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/commons/initial.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/plugins/bootstrap.css" />
</head>
<body>
  <div class="rts-background"></div>
  <div class="rts-header">
    <nav>
      <ul class="rts-nav clearfix">
        <li>
          <a href="/">
            <img src="<%= head_img || '/images/icon.jpg' %>" class="rts-icon" />
          </a>
        </li>
        <li class="search-nav">
          <input type="text" class="form-control header-search" placeholder="大家正在搜：女生的脸不能乱吹" />
          <i class="glyphicon glyphicon-search header-search-icon"></i>
        </li>
        <li>
          <a href="/book_center">
            <i class="glyphicon glyphicon-heart-empty"></i>
            平台书库
          </a>
        </li>
        <li>
          <a href="/">
            <i class="glyphicon glyphicon-cloud"></i>
            书友圈
          </a>
        </li>
        <li>
          <a href="/info">
            <i class="glyphicon glyphicon-user"></i>
            <%= name %>
          </a>
        </li>
        <li>
          <a href="/login/signOut">
            <i class="glyphicon glyphicon-log-out"></i>
            退出
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="rts-body">
    <div class="content">
      <div>
        <div class="left-side-content">
          <div class="content-box">
            <span class="type-tips">还可以输入140个字</span>
            <div class="chat-box" contenteditable="true">
            </div>
            <div class="wb-footer chat-box-option" contenteditable="false">
              <form id="chat-form" enctype="multipart/form-data">
                <input type="reset" style="display: none;" id="chat-box-reset">
                <input type="hidden" name="text" id="chat-box-content" />
                <ul class="wb-footer-bar clearfix">
                  <li>
                    <a href="javascript:;">
                      <div class="chat-icon-face" v-on:click="showBuble"></div>
                      <span class="chat-emotion-table hide">
                        <span class="table-caret"></span>
                        <table>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </table>
                      </span>
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="chat-icon-image"></div>
                    </a>
                    <input type="file" name="images" style="display:none;" id="images-choose" multiple="multiple" accept="image/png,image/gif,image/jpg,image/jpeg" v-on:change="imageChange" />
                    <span class="badge image-badge hide" v-bind:class="{'badge-show': imageLength > 0}">{{ imageLength > 0 ? imageLength : '' }}</span>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="chat-icon-music"></div>
                    </a>
                    <input type="file" name="musics" style="display:none;" id="musics-choose" multiple="multiple" accept="audio/mpeg,audio/mp4" v-on:change="musicChange" />
                    <span class="badge music-badge hide" v-bind:class="{'badge-show': musicLength > 0}">{{ musicLength > 0 ? musicLength : '' }}</span>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <div class="chat-icon-video"></div>
                    </a>
                    <input type="file" name="videos" style="display:none;" id="videos-choose" multiple="multiple" accept="audio/mp4" v-on:change="videoChange" />
                    <span class="badge video-badge hide" v-bind:class="{'badge-show': videoLength > 0}">{{ videoLength > 0 ? videoLength : '' }}</span>
                  </li>
                  <li>
                    <a href="javascript:;">
                      <input type="button" value="发布" class="chat-submit" v-on:click="submit" />
                    </a>
                  </li>
                </ul>
              </form>
            </div>
          </div>
          <div class="content-box" data-type="music" style="display: none;">
            <div class="wb-header">
              <img src="http://tp2.sinaimg.cn/5187664653/50/40058043651/1" class="wb-author-head-img" />
              <span>
                <p class="author-name">
                  <a href="javascript:;">邓超</a>
                </p>
                <p class="wb-time-and-info">
                  3月3日 20:15 来自 iPhone 6s
                </p>
              </span>
              <a href="javascript:;" class="my-care glyphicon glyphicon-heart-empty"></a>
            </div>
            <div class="wb-body">
              <div>
                <p class="wb-message">
                  【 著名表演艺术家#葛存壮去世# 送别！】记者从葛存壮家人处获悉,今日8点33分著名表演艺术家葛存壮因脑梗引发心脏衰竭去逝，享年87岁。1949年，20岁的葛存壮开始演员生涯。他因在《红旗谱》中饰演冯兰池被人熟识；因出演《周恩来伟大的朋友》获中国电影金鸡奖最佳男配角奖。转发送别！(央视记者杨晓宁)
                </p>
              </div>
              <div class="wb-audio">
                <audio src="/videos/test.mp4" controls="controls">
                  your browser does not support.
                </audio>
              </div>
            </div>
            <div class="wb-footer">
              <ul class="wb-footer-bar clearfix">
                <li>
                  <a href="javascript:;">
                    收藏
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    转发 90610
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    评论 35451
                  </a>
                </li>
                <li>
                  <a href="javascript:;">
                    <i class="glyphicon glyphicon-thumbs-up"></i>
                    383644
                  </a>
                </li>
              </ul>
            </div>
            <div class="hide-comment-box">
              <form action="/index/comment" method="post">
                <div class="chat-box" contenteditable="true">

                </div>
                <input type="button" value="提交"　/>
              </form>
            </div>
          </div>
          <div id="fall-wrap"></div>
        </div>
        <div class="right-side-content">
          <div class="content-box">
            <div class="hot-topic-header">
              <h3 class="topic">热门书籍</h3>
              <a href="javascript:;" class="change-topic">
                <i class="glyphicon glyphicon-repeat"></i>
                换一换
              </a>
            </div>
            <ul class="topic-list">
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
              <li>
                <a href="javascript:;">#吴亦凡代言超女#</a>
                119.1万
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/webpack_bundle/common.bundle.js"></script>
  <script type="text/javascript" src="/webpack_bundle/index.bundle.js"></script>
</body>
</html>
